.homepage
    h2 {{ hpCtrl.service.title }}

    i.fa.fa-search

    uib-rating(ng-model="hpCtrl.service.rate", max="hpCtrl.service.max", on-hover="hpCtrl.service.hoveringOver(value)", on-leave="hpCtrl.service.overStar = null")
    span {{hpCtrl.service.percent}}%